In [127]:
int(not bool(0))

1

In [125]:
a = random.sample([1,2,3], 1)
a

[3]

In [112]:
a

2

In [5]:
import pandas as pd

In [6]:
hero_id = pd.json_normalize(pd.read_json("../data/Hero ID.txt").at["heroes","result"])
hero_id["name"] = hero_id["name"].str.replace("npc_dota_hero_","")
# lobby_type = pd.read_json("../data/Lobby Type.txt").T

In [5]:
hero_id.sort_values(by="name")

                   name   id
100             abaddon  102
111   abyssal_underlord  108
71            alchemist   73
67   ancient_apparition   68
0              antimage    1
..                  ...  ...
20           windrunner   21
109       winter_wyvern  112
89                 wisp   91
29         witch_doctor   30
21                 zuus   22

[119 rows x 2 columns]

In [69]:
ori = pd.read_csv("../data/raw_data.csv")

In [70]:
df = ori[["radiant_win","radiant_team","dire_team"]]

x = df["radiant_team"].str.split(r',', expand=True).stack().reset_index(level=1, drop=True).to_frame('radiant_team')
#x["radiant_team"] = x["radiant_team"].map(dict(zip(hero_id["id"].astype("str"),hero_id["name"])))
x = pd.get_dummies(x, prefix='', prefix_sep="", columns=['radiant_team']).groupby(level=0).sum().astype("int")
x.columns = x.columns.map(int)
x = x.reindex(sorted(x.columns), axis=1)

y = df["dire_team"].str.split(r',', expand=True).stack().reset_index(level=1, drop=True).to_frame('dire_team')
#y["dire_team"] = y["dire_team"].map(dict(zip(hero_id["id"].astype("str"),hero_id["name"])))
y = pd.get_dummies(y, prefix='', prefix_sep="", columns=['dire_team']).groupby(level=0).sum().astype("int")
y.columns = y.columns.map(int)
y = y.reindex(sorted(y.columns), axis=1)

hero = x-y
hero["radiant_win"] = df["radiant_win"].astype("int")

In [71]:
hero[10]

0      -1
1       0
2      -1
3       0
4       0
       ..
1309    0
1310    0
1311   -1
1312    0
1313    0
Name: 10, Length: 1314, dtype: int32

In [9]:
hero.to_csv("../data/preprocessed_data.csv", index=False)